* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

h1,
h3,
h3,
h4,
h5,
h6 {
	line-height: 37px;
	color: #474c4b;
	text-align: left;
}

p{
	word-wrap: break-word; 
}
h3 {
	margin: 20px auto 10px;
	font-size: 2.1rem;
	width: 76%;
}

iframe{
	width:100%;
}

.container {
	-webkit-overflow-scrolling: touch;
}

.container .page {
	-webkit-overflow-scrolling: touch;
}

img {
	width: 100%;
	margin: 0 auto;
}

.wrap-page {
	height: 480px;
	overflow-y: auto;
}

.top {
	margin: 20px auto;
	text-align: center;
}

.page p {
	text-align: left;
	font-size: 1.5rem;
/*	margin-bottom: 25px;*/
	color: #474c4b;
}
.page p img{
	margin-top: 10px;
	margin-bottom: 10px;
}

.tag-list {
	margin-top: 50px;
	bottom: 25px;
	overflow: hidden;
}

.tag-list li {
	display: block;
	float: left;
	padding: 0px 8px;
	background: #f4f7f7;
	color: #a3aeac;
	margin-right: 15px;
	border-radius: 5px;
	font-size: 1.3rem;
	margin-bottom: 40px;
	text-align: center;
	min-width: 48px;
	height: 27px;
	line-height: 27px;
	box-sizing: border-box;
}

.tag-list li:active {
	background: #deebe9;
}

.part2 p {
	font-size: 1.3rem;
	line-height: 21px;
	color: #a3aeac;
/*	margin-bottom: 20px;*/
	text-align: left;
}

.footer,
.top {
	color: #a3aeac;
	font-size: 1.3rem;
	line-height: 21px;
	bottom: 0px;
	margin-left: 10%;
}

.footer ul {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
}

.footer ul li,
.top ul li {
	line-height: 1.5rem;
	font-size: 1.1rem;
}
.no-padding{
	height: 5px;
}
.text-padding {
	width: 76%;
	margin: 0 auto;
	line-height: 29px;
}

/*以文字为主，图片样式*/
.p-word .part1 img{
	width: 89.3%;
}

/*以图片为主，图片样式*/
.p-pic h3{
	display: none;	
}

.p-pic img{
	width: 100%;
}

.p-pic .part1 p:first-child img{
	margin-top: 0px;
}

/*免责声明样式修改*/
.free-statement {
	overflow: hidden;
	margin-bottom: 30px;
}
.free-statement ul {
	overflow: hidden;
	height: 40px;
	line-height: 40px;
}
.free-statement ul li{
	display: block;
	float:left;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	font-size:1.3rem;
	color: #a3aeac;
	margin-right: 5px;
}
.free-statement ul li img{
	width: 15px;
    margin-top: 14px;
}
.state-con{
	display: none;
}
/*免费声明箭头动画*/
.icon-arrow{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);/* Safari 和 Chrome */
    -ms-transform:rotate(-180deg); 	/* IE 9 */
	-moz-transform:rotate(-180deg); 	/* Firefox */
	-o-transform:rotate(-180deg); 	/* Opera */
	
   
    transition: transform .4s linear;
    -webkit-transition: -webkit-transform .4s linear;
    -ms-transition:-ms-transform .4s linear;	/* IE 9 */
	-moz-transition:-moz-transform .4s linear;	/* Firefox */
	-o-transition:-o-transform .4s linear; 	/* Opera */
    
}
.menu-open .icon-arrow{
	transform: rotate(0);
	-webkit-transform: rotate(0);
    -ms-transform:rotate(0); 	/* IE 9 */
	-moz-transform:rotate(0); 	/* Firefox */
	-o-transform:rotate(0); 	/* Opera */
}

.menu-open ul li img{
	margin-top: 12px;
}